*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    /* overflow: overlay; */
}




.main-footer{
    width: 100%;
    background-color:#333;
    margin-top: auto;
    height: 6vh;
    min-height: 60px;
    flex: 0 1 auto;
}

.main-content{
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    width: 100%;
    flex: 1 1 auto;

    /* to make scrollbar only for product section not for all page */
    /* overflow-y: auto;
     */
}


.add-to-cart-btn{
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.delete-btn{
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}


.delete-btn:hover{
    color: red;
}

.add-to-favorites-btn:hover{
    color:red;
}

.btn-separator{
    height: auto;
    width: 1px;
    background-color: #d7d7d7;
}




.favorites-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70%;
}


.favorites-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.product-img-container {
    height: 100%;
    justify-content: center;
    display: flex;
}

.product-img-container > img {
    object-fit: contain;
    width: 200px;
    height: 100%;
}

.fav-item {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 14px 2px rgba(163,160,163,1);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fav-item.show{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s;
}

.fav-item.removing {
    transform: translateX(-100%);
    opacity: 0;
}