

@media (max-width:480px) {
   .header-search-form{
       display: none;
   }


}



@media (min-width: 481px) {
    .hamburger-nav{
        display: none;
    }

}

@media (min-width: 481px) {
    .mobile-bottom-menu {
        /*display: none;*/
        visibility: hidden;
    }

}



.main-header{
    width: 100%;
    background-color: white;
    height: 100px;
    /*min-height: 60px;*/
    flex: 0 1 auto;

    position: sticky;
    top: 0;
    z-index: 98;
    display: flex;
    flex-direction: column;

    box-shadow: 0 3px 7px 0 #9E9E9E;
}

@media (max-width:480px) {
    .main-header {
        height: 70px;
    }
    }

.header-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    height: 100%;
    padding: 0 20px;
}

.header-logo{
    text-decoration: none;
    color: #0e2431;
}

.header-logo  a{
    text-decoration: none;
}

.header-search-container{
    display: flex;
    flex-direction: row;
}

.mobile-menu{
    position: fixed;
    top: 0;
    right: 100%;
    /*width: 65vw;*/
    width: 100%;
    min-height: 100%;

    /*background-color: white;*/
    z-index: 99;
    transition: 0.6s;

    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    /*backdrop-filter: blur(15px);*/
}

.mobile-menu.is-active{
    /*right: calc(100% - 65vw);*/
    right: 0;
}


/*.mobile-menu p{*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    font-size: 10px;*/
/*}*/

.mobile-categories{
    display: flex;
    flex-direction: column;
    list-style-type: none;

}






.mobile-category-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-category-main > span{
    transition: all 0.3s ease-in-out;
}

.mobile-category-main > span.is-active{
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg) scaleX(-1);
}

.mobile-category-main > img{
    max-width: 40px;
}

.mobile-category-item{
    border-bottom: 1px solid #333333;
}

.mobile-subcategory-list{
    list-style-type: none;
    position: static;
    display: none;
    transition: all 0.6s ease-in-out;
}


.mobile-subcategory-list.is-active{
    display: block;
}

.mobile-subcategory-name{
    text-decoration: none;
    color: #333333;
}

.mobile-subcategory-name:hover{
    color:orange;
}

.mobile-subcategory{
    padding-left: 40px;
}
.mobile-bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
    background-color: white;
    text-align: center;
    box-shadow: 0 -4px 10px 0 #A5A5A5;
}

.bottom-link > a{
   font-size: 10px;
    text-decoration: none;
    color: #0e2431;
}

.bottom-link:hover{
    color: orange;
    opacity: 0.8;
}


.secondary-nav{
    background-color: #e8e8e8;
    /*height: 4vh;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 200px;
}

@media screen and  (max-width: 480px) {
    .secondary-nav{
        display: none;
    }

}

.dropdown{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

}

.dropdown-description{
    color: #0e2431;
    border-bottom: 2px solid transparent;
}

.dropdown:hover .dropdown-description {
    cursor: context-menu;
   border-bottom: 2px solid orange;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    width: 160px;
    /*color: #333333;*/
    /* width: max-content;
    height: max-content; */

    /*background-color: #525252;*/
}

/*.dropdown-description::after {*/
/*    content: '';*/
/*    display: block;*/
/*    width: 0;*/
/*    height: 2px;*/
/*    background: #000;*/
/*    transition: width .3s;*/
/*}*/


/*.dropdown:hover .dropdown-description::after {*/
/*    cursor: context-menu;*/
/*    width: 100%;*/
/* transition: width .3s;*/
/*}*/



.dropdown-subcategory > a{
    text-decoration: none;
    color: #333333;
}

.dropdown-subcategory > a:hover{
    color: orange;
}

.review-modal {

    display: none;
    height: 80%;
    width: 80%;

    border-radius: 20px;
    background-color: white;
    z-index: 111;
    overflow: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.overlay-blurred{
    display: none;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    z-index: 110;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);

}
.review{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.review-image-set{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.review-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}


.header-search-container{
    border: 1px solid transparent;
    border-radius: 20px;
    color: #333333;
    background-color: #dadada;

}

.header-search-form{
    display: flex;
    align-items: center;
}
.search-input{
    background: none;
    border: none;
    outline: none;

}

.select-category{
    /*border: 1px solid transparent;*/
    /*border-radius: 5px;*/
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #BFBFBF;
    width: 20px;

}

.header-search-container:focus-within {
    border-color: orange;
}

.search-submit-btn{
    outline: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: orange;
    border: none;
}

.search-submit-btn > span{
    width: 24px;
}
