@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@media (max-width: 480px) {
    .header-search-form {
        display: none;
    }


}


.rate {
    display: inline-block;
    border: 0;
}

/* Hide radio */
.rate > input {
    display: none;
}

/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}

/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome, serif;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label {
    color: gold;
}

/* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */
{
    color: #f3c101;
}


.main-header {
    width: 100%;
    background-color: white;
    height: 60px;
    /* min-height: 60px; */
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 98;
    /*box-shadow: 0 3px 7px 0 #cccccc;*/
    transition: all 0.2s;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .main-header {
        box-shadow: 0 3px 7px 0 #cccccc;
    }

}

.secondary-nav {
    background-color: #fafafa;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    position: sticky;
    top: 60px;
    z-index: 97;
    opacity: 1;
    /*transform: translateZ(0);*/
    transition: all 1s;
    box-shadow: 0 3px 7px 0 #cccccc;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .secondary-nav {
        display: none;
    }

}

.hamburger-nav {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .hamburger-nav {
        display: flex;
    }
}

/*.main-header.shrink {*/
/*    box-shadow: 0 3px 7px 0 #cccccc;*/
/*}*/

.secondary-nav.shrink {
    top: -30px;
}


.category-dropdowns {
    display: flex;
    justify-content: space-between;
    width: 70%;
    transition: all 0.1s;
}

.dropdown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s;
}

.dropdown:hover {
    border-radius: 5px;
    background-color: #d9d9d9;
}

.dropdown-description {
    color: #0e2431;
    border-bottom: 2px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.dropdown-description > h4 {
    display: block;
}

.dropdown:hover .dropdown-description {
    cursor: context-menu;
    /* border-bottom: 2px solid orange; */
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 100%;
}

.dropdown-arrow {
    display: block;
    transform: rotateZ(90deg);
    transition: all 0.3s;
}

.dropdown:hover .dropdown-arrow {
    transform: rotateZ(270deg);
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    left: -10px;
    top: 100%;
    background-color: white;
    width: 160px;
    opacity: 0;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px 3px #EAEAEA;
}


/*@media (max-width: 480px) {*/
/*    .main-header {*/
/*        height: 70px;*/
/*    }*/
/*}*/

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .header-nav {
        width: 100%;
        padding: 0 10px;
    }

}

.header-navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    user-select: none;

}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .navlink-wrapper.desktop {
        display: none;
    }
}

.navlink-wrapper > a {
    color: #333333;
    text-decoration: none;
}

.navlink-wrapper {
    position: relative;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.3s;
    width: 68px;
}

.navlink-wrapper > a {
    display: block;
    width: 100%;
    height: 100%;
}

.navlink-wrapper:hover {
    background: #e2e2e2;
}

.navlink-wrapper:hover > a {
    color: orange;
}

.navlink-wrapper:hover > .notification {
    /*color: orange;*/
    border: 2px solid #e2e2e2;
}


.notification {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    background-color: #ff5353;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 10px;
}

.notification > span {
    text-align: center;
}


.header-logo {
    display: flex;
    text-decoration: none;
    color: #0e2431;
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 16px;
    }

}


.header-logo-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .header-logo-container {
        width: 150px;
        padding: 0 20px;
    }
}

.header-search-container {
    position: relative;
    border: 1px solid transparent;
    border-radius: 25px;
    color: #333333;
    width: auto;
    background-color: #f2f2f2;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .header-search-container:focus-within {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        animation: expand 0.3s;
        /*animation-fill-mode: forwards;*/
        transition: top 1s;
    }
}

/*@media screen and (min-width: 320px) and (max-width: 820px) {*/
/*    .header-search-container:not(:focus-within) .search-modal {*/
/*        max-height: 0;*/
/*        background: red;*/
/*    }*/
/*}*/


@keyframes expand {
    from {
        width: auto;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

.search-input {
    border: none;
    width: 100px;
    background: none;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .header-search-container:focus-within .search-input {
        width: 100%;
        /*padding: 0 20px;*/
    }
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .input {
        width: 100px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: calc(-50% - 20px);
    width: 50%;
    height: 100%;
    z-index: 99;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    color: #333333;
    overflow-y: scroll;
    /* box-shadow: 3px 0px 6px 1px #2f2e2e; */
}

.mobile-menu.is-active {
    /* right: calc(100% - 65vw); */
    left: 0;
}


.mobile-categories {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}


.search-modal {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    max-height: 0;
    /*height: 100%;*/
    z-index: 1000;
    background-color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    scrollbar-width: thin;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-modal::-webkit-scrollbar {
    width: 5px;
}

.search-modal::-webkit-scrollbar-track {
    background: transparent;
}

.search-modal::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}


.close-menu-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.close-menu-container > h3 {
    font-size: 24px;
}

.search-product {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #b9b9b9;
    padding: 10px;
    margin: 20px;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.6s;

}

.search-product.show {
    transform: translateY(0);
    opacity: 1;
}

.search-product-title > a {
    color: #4c516c;
    transition: all 0.3s;
}

.search-product-title > a:hover {
    color: orange;
}

.close-mobile-nav-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    border: none;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    font-size: 30px;
    /* box-shadow: 0px 0px 6px 3px #2f2e2e; */
    /* clip-path: inset(0 -7px -7px 0); */
}

.close-mobile-nav-btn > span {
    font-size: 30px;
}

.search-container {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.mobile-category-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.mobile-category-main > span {
    transition: all 0.3s;
}

.mobile-category-main > span.is-active {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg) scaleX(-1);
}

.mobile-category-main > img {
    max-width: 40px;
}

.mobile-category-item {
    /*border-bottom: 1px solid #333333;*/
    transition: all 0.3s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.mobile-category-item.active {
    /*border-top: 1px solid #505050;*/
    /*border-bottom: 1px solid #505050;*/
}

.mobile-subcategory-list {
    list-style-type: none;
    /* position: static; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px 5px 15px;
    visibility: hidden;
    /* transform: scaleY(0); */
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    font-size: 16px;
}


.mobile-subcategory-list.is-active {
    /* display: block; */
    visibility: visible;
    /* transform: scaleY(1); */
    max-height: 200px;
}

.mobile-subcategory-name {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

.mobile-subcategory-name:hover {
    color: orange;
}

.mobile-subcategory {
    margin-left: 0px;
    /*padding: 5px;*/
    width: fit-content;
    color: white;
}


.mobile-bottom-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
    background-color: white;
    text-align: center;
    box-shadow: 0 -4px 10px 0 #A5A5A5;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .mobile-bottom-menu {
        display: flex;
    }

}


.bottom-link-wrapper {
    position: relative;
}

.bottom-link {
    font-size: 10px;
    text-decoration: none;
    color: #0e2431;
}

.bottom-link:hover {
    color: orange;
    opacity: 0.8;
}


.dropdown-subcategory > a {
    text-decoration: none;
    color: #333333;
}

.dropdown-subcategory > a:hover {
    color: orange;
}


.overlay-blurred {
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: 0.5s;
}

.overlay-blurred.show {
    opacity: 1;
    visibility: visible;
}



.header-search-form {
    display: flex;
    align-items: center;
    padding: 5px;
}

/*.search-input {*/
/*    background: none;*/
/*    border: none;*/
/*    outline: none;*/

/*}*/

.select-category {
    /*border: 1px solid transparent;*/
    /*border-radius: 5px;*/
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #BFBFBF;
    width: 20px;

}

.header-search-container:focus-within {
    border-color: orange;
}

.search-btn {
    outline: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
}

.search-btn > span {
    width: 24px;
}

.close-search-btn {
    visibility: hidden;
    display: flex;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #cccccc;
}


.notify-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 200px;
    width: 400px;
    max-width: 20%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 18px 3px rgb(181 181 181);
    transition: all 0.3s;
}


.notify-modal.show {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);

}


.notify-mail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.notify-input {
    outline: none;
    border: none;
    box-shadow: 0 0 11px 1px #47D3D3;

}

.notify-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-notify-btn {
    border: 1px solid transparent;
    background: none;
    border-radius: 50%;
    transition: all 0.3s;
    padding: 4px;
    cursor: pointer;
    user-select: none;
}

.close-notify-btn:hover {
    background-color: #e1e1e1;
}

.close-notify-btn > span {
    display: block;
}


.review-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: fit-content;
    width: fit-content;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 18px 3px rgb(181 181 181);
    transition: all 0.3s;
}


.review-modal.show {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);

}

.images-container {
    display: flex;
    flex-direction: row;
}

.review-image {
    width: 50px;
    height: 50px;
    object-fit: cover;

    /*margin: 10px;*/
}

.review-body {
    resize: none;
    scrollbar-width: none;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}


.review-form {
    display: flex;
    flex-direction: column;
}

.images-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.image-container {
    position: relative;
}

.login-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 200px;
    width: 400px;
    max-width: 20%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 18px 3px rgb(181 181 181);
    transition: all 0.3s;
}

.login-modal.show {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
}


.review-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.review-input {
    outline: none;
    border: none;
    box-shadow: 0 0 11px 1px #47D3D3;

}


.close-review-btn {
    border: 1px solid transparent;
    background: none;
    border-radius: 50%;
    transition: all 0.3s;
    padding: 4px;
    cursor: pointer;
    user-select: none;
}

.close-review-btn:hover {
    background-color: #e1e1e1;
}

.close-review-btn > span {
    display: block;
}

