

@media (max-width:480px) {
   .header-search-form{
       display: none;
   }


}



@media (min-width: 481px) {
    .hamburger-nav{
        display: none;
    }

}

@media (min-width: 481px) {
    .mobile-bottom-menu {
        /*display: none;*/
        visibility: hidden;
    }

}



.main-header {
    width: 100%;
    background-color: white;
    height: 60px;
    /* min-height: 60px; */
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 98;
    /*box-shadow: 0 3px 7px 0 #cccccc;*/
    transition: all 0.2s ;
}

.secondary-nav {
    background-color: #fafafa;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    position: sticky;
    top: 60px;
    z-index: 97;
    opacity: 1;
    /*transform: translateZ(0);*/
    transition: all 1s ;
    box-shadow: 0 3px 7px 0 #cccccc;
}


.main-header.shrink
{
    box-shadow: 0 3px 7px 0 #cccccc;
}

.secondary-nav.shrink{
    /*pointer-events: none;*/
    /*opacity: 0;*/
    /*!*display: none;*!*/
    /*height: 0;*/
    /*overflow: hidden;*/
    top: -30px;
    /*transition: all 0.2s;*/

}

/*!*.category-dropdowns.shrink{*!*/
/*!*    visibility: hidden;*!*/
/*!*}*!*/

@media screen and  (max-width: 480px) {
    .secondary-nav{
        display: none;
    }

}


.category-dropdowns{
    display: flex;
    justify-content: space-between;
    width: 70%;
    transition: all 0.1s;
}

.dropdown {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s;
}

.dropdown:hover{
    border-radius: 5px;
    background-color: #d9d9d9;
}

.dropdown-description{
    color: #0e2431;
    border-bottom: 2px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.dropdown-description > h4{
    display: block;
}

.dropdown:hover .dropdown-description {
    cursor: context-menu;
    /* border-bottom: 2px solid orange; */
}

.dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 100%;
}

.dropdown-arrow{
    display: block;
    transform: rotateZ(90deg);
    transition: all 0.3s;
}

.dropdown:hover .dropdown-arrow{
    transform: rotateZ(270deg);
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    left: -10px;
    top: 100%;
    background-color: white;
    width: 160px;
    opacity: 0;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 5px 3px #EAEAEA;
}



@media (max-width:480px) {
    .main-header {
        height: 70px;
    }
    }

.header-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 100%;
    /*padding: 0 20px;*/
}

.header-navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    user-select: none;

}

.navlink-wrapper > a{
    color: #333333;
    text-decoration: none;
}

.navlink-wrapper {
    /*margin: 5px;*/
    /*padding: 5px;*/
    position: relative;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.3s;
    width: 68px;
}

.navlink-wrapper > a{
    display: block;
    width: 100%;
    height: 100%;
}

.navlink-wrapper:hover{
    background: #e2e2e2;
}
.navlink-wrapper:hover > a{
    color: orange;
}

.navlink-wrapper:hover >.notification{
    /*color: orange;*/
    border: 2px solid #e2e2e2;
}


@media (max-width:480px) {
    .navlink-wrapper.desktop{
        display: none;
    }
}


.notification {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    background-color: #ff5353;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 7px;
}

.notification > span{
    text-align: center;
}


.header-logo{
    text-decoration: none;
    color: #0e2431;
}



@media  screen and (max-width: 480px){
    h1{
        font-size: 16px;
    }

}


.header-logo-container{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.header-search-container {
    border: 1px solid transparent;
    border-radius: 25px;
    color: #333333;
    background-color: #f2f2f2;
}

.input{
    border: none;
    width: 500px;
    background: none;
    outline: none;
}

.mobile-menu{
    position: fixed;
    top: 0;
    right: 100%;
    /*width: 65vw;*/
    width: 100%;
    min-height: 100%;

    /*background-color: white;*/
    z-index: 99;
    transition: 0.6s;

    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    /*backdrop-filter: blur(15px);*/
}

.mobile-menu.is-active{
    /*right: calc(100% - 65vw);*/
    right: 0;
}




.mobile-categories{
    display: flex;
    flex-direction: column;
    list-style-type: none;


}

@media screen and (max-width: 481px){
    .mobile-search-modal{
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: white;
        overflow: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


}


.search-container{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.mobile-category-main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-category-main > span{
    transition: all 0.3s;
}

.mobile-category-main > span.is-active{
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg) scaleX(-1);
}

.mobile-category-main > img{
    max-width: 40px;
}

.mobile-category-item{
    border-bottom: 1px solid #333333;
}

.mobile-subcategory-list{
    list-style-type: none;
    position: static;
    display: none;
    transition: all 0.6s ease-in-out;
}


.mobile-subcategory-list.is-active{
    display: block;
}

.mobile-subcategory-name{
    text-decoration: none;
    color: #333333;
}

.mobile-subcategory-name:hover{
    color:orange;
}

.mobile-subcategory{
    padding-left: 40px;
}
.mobile-bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
    background-color: white;
    text-align: center;
    box-shadow: 0 -4px 10px 0 #A5A5A5;
}

.bottom-link-wrapper{
    position: relative;
}

.bottom-link {
   font-size: 10px;
    text-decoration: none;
    color: #0e2431;
}

.bottom-link:hover{
    color: orange;
    opacity: 0.8;
}


.dropdown-subcategory > a{
    text-decoration: none;
    color: #333333;
}

.dropdown-subcategory > a:hover{
    color: orange;
}



.overlay-blurred{
    display: none;
    position: absolute;
    z-index: 110;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);

}

/*.review-modal {*/

/*    display: none;*/
/*    height: 90%;*/
/*    width: 90%;*/

/*    border-radius: 20px;*/
/*    background-color: white;*/
/*    z-index: 111;*/
/*    overflow: auto;*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.review{*/
/*    border-top: 1px solid black;*/
/*    border-bottom: 1px solid black;*/
/*}*/

/*.close-review-container{*/
/*    position: sticky;*/
/*    top: 0;*/
/*    background-color:white;*/
/*    box-shadow: 0 2px 5px -2px #383838;*/
/*}*/

/*.review-user-info{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*    border-bottom: 1px solid #333333;*/
/*}*/

/*.review-user-avatar{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 100%;*/
/*    border: 1px solid #333333;*/
/*}*/

/*.review-user-avatar > img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: contain;*/
/*    display: block;*/
/*    border-radius: 100%;*/
/*}*/

/*.review-rating{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*}*/

/*.review-rating > span{*/
/*    color: gold;*/
/*}*/





/*.empty-rating-star{*/
/*    color: #333333;*/
/*}*/


/*.review-image-set{*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*}*/

/*.review-img{*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    object-fit: cover;*/
/*}*/


.header-search-container {
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    color: #333333;
    /* background-color: #dadada; */
}

.header-search-form{
    display: flex;
    align-items: center;
    padding: 5px;
}
.search-input{
    background: none;
    border: none;
    outline: none;

}

.select-category{
    /*border: 1px solid transparent;*/
    /*border-radius: 5px;*/
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #BFBFBF;
    width: 20px;

}

.header-search-container:focus-within {
    border-color: orange;
}

.search-submit-btn {
    outline: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
}

.search-submit-btn > span{
    width: 24px;
}




