* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    overflow-y: auto;
}


.main-footer {
    width: 100%;
    background-color: #333;
    margin-top: auto;
    height: 6vh;
    min-height: 60px;
    flex: 0 1 auto;
}

.main-content {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: rgb(246 248 250);
    width: 100%;
}







.product-list-header{
    width: 70%;
    padding-top: 50px;
    color: #333;
}


@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-list-header{
        width: 100%;
    }

}


.products-view-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 70%;
}


@media screen and (min-width: 320px) and (max-width: 820px) {
    .products-view-content{
        width: 100%;
        justify-content: center;
    }
}


.products-content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 481px) {
    .products-content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 85%;
    }
}


.products-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    min-height: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .products-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding: 10px;
    }
}








.product-card {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: white;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    opacity: 0;
    transform: translateY(300px);
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-card {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
}





.discount-badge {
    position: absolute;
    background-color: #d11f49;
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.discount-badge>span{
    font-size: 20px;
}


.product-card.show {
    opacity: 1;
    transform: translateY(0);
}

.product-card-content {
    display: flex;
    flex-direction: column;
    width: 60%;
}


@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-card-content {
        width: 100%;
        height: 30%;
    }
}


.add-to-favorites-btn {
    color: #333333;
    background: none;
    border: none;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 50%;
}

.add-to-favorites-btn.added{
    color: red;
}

.add-to-favorites-btn:hover {
    background: #bdbdbd;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .add-to-favorites-btn:hover{
        background: transparent;
    }
}

.add-to-cart-btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 4px 1px orange;
    transition: all 0.3s;
    user-select: none;
}

.add-to-cart-btn:hover {
    opacity: 0.7;
}

.add-to-cart-btn.added {
    border: 1px solid #ff4f4f;
    background: #ff4f4f;
    color: #ffffff;
    box-shadow: 0 0 4px 1px #ff4f4f;
}


.product-available {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-available{
        font-size: 12px;
    }
}

.add-to-comparison-btn{
    color: #333333;
    background: none;
    border: none;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 50%;
}

.add-to-comparison-btn:hover{
    background: #bdbdbd;
}

.bulb {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.bulb.none {
    background-color: red;
    box-shadow: 0 0 2px 1px red;
}

.bulb.sufficient {
    background-color: lawngreen;
    box-shadow: 0 0 2px 1px lawngreen;
}

.bulb.shortage {
    background-color: orange;
    box-shadow: 0 0 2px 1px orange;
}


.product-title{
    width: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-title {
        text-align: center;
        font-size: 12px;
        width: 100%;
        height: 60%;
    }
}

.product-link {
    text-decoration: none;
    color: #333333;

}

.product-link:hover > h3 {
    color: orange;
}
.product-link > h3{
    color: #4e5264;
    cursor: pointer;
    transition: all 0.3s;
}

.product-img-container {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-img-container{
        height: 40%;
    }
}

.product-img-container > img {
    width: 80%;
    height: auto;
    object-fit: cover;
}


.product-card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 2px #b9b9b9;
}

.pagination{
    margin: 50px 0;
}

.pagination > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.pagination-item {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: all 0.3s;
}

.pagination-item:hover {
    background-color: #c9c9c9;
}

.pagination-item.active {

    background-color: orange;
    border-radius: 5px;

}

.pagination-item > a {
    text-decoration: none;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.sorting-container {
    position: relative;
    width: 150px;
    padding: 5px;
    border: 1px solid #cbc9c5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    user-select: none;
    font-size: 14px;
}

.sorting-parameters {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    right: 0;
    width: 100%;
    border: 1px solid #cbc9c5;
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    font-size: 14px;
    box-shadow: 0 0 18px 6px #C6C6C6;;
    transition: all 0.5s;
}

.sorting-parameters.show{

    /*animation: fade-in 300ms;*/
    visibility: visible;
    transform: translateY(0);
}



.sorting-parameters > a {
    text-decoration: none;
    color: #333333;
}

.sorting-parameters > a:hover {
    color: orange;
}

.sorting-container > span {
    transition: all 0.2s linear;
    transform: rotateZ(90deg);
}

.sorting-container > span.active{
    transform: rotateZ(270deg);
}


.product-view-preferences {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-view-preferences {
        padding: 0 10px;
    }
}

.product-filtering {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    min-width: fit-content;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-filtering {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 4;
        width: 100%;
        max-width: 100%;
        height: 300px;
    }
}

.attr-container {
    display: grid;
    flex-direction: column;
    position: relative;
    gap: 5px;

}

.check-div {
    position: absolute;
    padding: 10px;
    box-shadow: 0 0 18px 6px #C6C6C6;
    z-index: 200;
    left: 180px;
    top: 0;
    transition: all 0.3s;
    opacity: 0;
}

.check-div.show{
    /*visibility: visible;*/
    opacity: 1;
}

.check-set-btn {
    position: relative;
    border: 1px solid #d2d2d2;
    width: 50%;
    /* justify-self: center; */
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

}

.check-set-btn:hover{
    border-color: orange;
    color: orange;
}


.filtering-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 13px;
    position: sticky;
    top: 130px;
    user-select: none;
    z-index: 2;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(10px);
    padding: 10px;
    /* margin: 10px; */
    border: 1px solid #eaeaea;
    border-radius: 10px;
    /* min-width: fit-content; */
    min-width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .filtering-form{
        overflow-y: auto;
        scrollbar-width: none;
    }
}


.attribute-values {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 100px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
}



.attribute-values::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.attribute-values::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.attribute-values::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(231, 231, 231, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.attribute-values::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}



.submit-filter-btn {
    outline: none;
    color: #333333;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-self: flex-end;
    height: 50px;
    transition: all 0.3s;
    font-size: 18px;
    border: 1px solid #bbc3c8;
    cursor: pointer;
    position: sticky;
    bottom: 10px;
}

.submit-filter-btn:hover {
    color: white;
    background-color: orange;
    box-shadow: 0 0 3px 1px orange;
    border: 1px solid transparent;
}

.status-sufficient {
    color: lawngreen;
}

.status-shortage {
    color: orange;
}

.status-none {
    color: red;
}

.attributes {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}


@media screen and (min-width: 320px) and (max-width: 820px) {
    .attributes {
        display: none;
    }
}



.attribute-entry {
    display: flex;
    flex-direction: row;
}


.attribute-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.attribute-info-badge {
    width: 17px;
    height: 17px;
    font-size: 13px;
    border: 1px solid #989898;
    color: #989898;
    background-color: #f6f8fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*pointer-events: none;*/
    cursor: pointer;
    transition: all 0.3s;
}

.attribute-info-badge:hover{
    color: orange;
    border-color: orange;
}

.attribute-info{
    position: absolute;
    top: 0;
    left: 220px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    transition: all 0.3s ease-in-out;
    width: fit-content;
    height: fit-content;
    background: white;
    box-shadow: 0 0 18px 6px #C6C6C6;

}

.attribute-info-badge:hover .attribute-info{
color: #4c516c;
}

.attribute-info.show{
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: none;
}

.attribute-info:hover{

}

.check-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


.check-container > input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: all 0.3s;
}

.check-container > input[type="checkbox"]:hover {
    border-color: #7c7c7c;
}

.check-container > input[type="checkbox"]:checked {
    border-color: orange;
    background-color: orange;
}

/*.filter-checkbox:checked ~ label,.filter-checkbox:hover ~ label {*/
/*    color: orange;*/
/*}*/

.check-container > input[type="checkbox"]:checked::after {
    /*display: block;*/
    visibility: visible;
}


.check-container > label {
    cursor: pointer;
}

input[type="checkbox"]::after {
    content: '\2713';
    /*content: url("/static/ui/material_checkmark.svg");*/
    /*content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M378 810 154 586l43-43 181 181 384-384 43 43-427 427Z'/%3E%3C/svg%3E");*/
    /*width: 20px;*/
    /*height: 20px;*/
    color: white;
    visibility: hidden;
    justify-self: center;
}


.product-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /*gap: 20px;*/
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .product-actions {
        width: 100%;
    }
}


.secondary-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 820px) {
    .secondary-actions {
        justify-content: space-between;
    }
}



.price {
    display: block;
    /* background: #1fd133; */
    color: #454b5a;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.price.discount{
    color: #d11f49;
    /*background-color: #f91155;*/
}



.product-rating{
    display: flex;
    flex-direction: row;
    user-select: none;
}