*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    /* overflow: overlay; */
}




.main-footer{
    width: 100%;
    background-color:#333;
    margin-top: auto;
    height: 6vh;
    min-height: 60px;
    flex: 0 1 auto;
}

.main-content{
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    width: 100%;
    flex: 1 1 auto;

    /* to make scrollbar only for product section not for all page */
    /* overflow-y: auto;
     */
}



.product-view {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
}

.product-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /*box-shadow: 0px 0px 20px 5px #BFBFBF;*/

}

@media screen and (max-width: 480px) {
    .product-container {
        font-size: 10px;
    }
}


.product-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}


/*.swiper {*/
/*    max-width: 40%;*/
/*    height: fit-content;*/

/*}*/

/*@media  screen and (max-width: 480px) {*/
/*    .swiper {*/
/*        max-width: 90%;*/
/*        height: fit-content;*/

/*    }*/

/*}*/

/*.swiper-slide{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.swiper-slide img  {*/
/*width: 100%;*/
/*}*/

/*.swiper-button-next, .swiper-rtl .swiper-button-prev{*/

/*    !*left: 100% !important;*!*/
/*    right: auto;*/
/*    color: orange !important;*/
/*}*/
/*.swiper-button-prev, .swiper-rtl .swiper-button-next{*/
/*    !*right: 0 !important;*!*/
/*    left: auto;*/
/*    color: orange !important;*/
/*}*/

/*.swiper-pagination-bullet-active {*/
/*    opacity: 1;*/
/*    background-color: orange !important;*/
/*}*/
/*.swiper-pagination {*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    transition: 300ms opacity;*/
/*    transform: translate3d(0, 0, 0);*/
/*    z-index: 10;*/
/*    bottom: 20px !important;*/
/*}*/


.rating-btn{
    background: none;
    text-decoration: underline;
    border: none;
}

.rating-btn:hover{
    color: orange;
}
/*!*move swiper pagination on top to image *!*/
/*.swiper-pagination {*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    transition: 300ms opacity;*/
/*    transform: translate3d(0, 0, 0);*/
/*    z-index: 10;*/
/*    top: 0 !important;*/
/*}*/

/*@media screen and (max-width: 480px) {*/
/*    .swiper-button-next, .swiper-rtl .swiper-button-prev{*/

/*        display: none !important;*/
/*    }*/
/*    .swiper-button-prev, .swiper-rtl .swiper-button-next{*/
/*       display: none !important;*/
/*    }*/
/*}*/



/*.carousel{*/
/*  min-width: 100%;*/
/*  white-space: nowrap;*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*}*/

/*.carousel img {*/
/*  width: 100%;*/
/*  max-width: 300px;*/
/*  object-fit: cover;*/
/*  !*margin-left:14px;*!*/
/*}*/
/*.product-images{*/
/*  position: relative;*/
/*  width: 1200px;*/
/*}*/

/*.product-images span{*/
/*  position: absolute;*/
/*  !*to center arrows horizontally + first-last child*!*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*}*/

/*.product-images span:first-child{*/
/*  left: -23px;*/

/*}*/
/*.product-images span:last-child{*/
/*  right: -23px;*/

/*}*/


.product-properties {
    width: 1312px;
}

.product-images{
    width:fit-content ;
}

.product-properties > table {
    width: 100%;
}


.similar-products-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: 0 0 20px 5px #BFBFBF;
}

.similar-product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.similar-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*max-width: 200px;*/
    /*min-width: 200px;*/
    font-size: 10px;
}

.similar-product-img {
    display: flex;
    justify-self: center;
    max-width: 100%;
}

.similar-product-img > img {
    max-width: 100%;

}

td {
    text-align: center;
    vertical-align: middle;
    /*border-style: dashed;*/
    /*border-left: none;*/
    /*border-right: none;*/
}

tr:hover {
    color: orange;
    background-color: #dadada;
}



.tabs{
    /* position: relative; */
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 18px 3px rgba(181,181,181,1);
    -moz-box-shadow: 0px 2px 18px 3px rgba(181,181,181,1);
    box-shadow: 0px 2px 18px 3px rgba(181,181,181,1);

}

.tab-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    height: 100px;
    position: relative;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.tab-body{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;



}

.tab-nav {
    padding: 10px;
    background-color: rgb(232 232 232);
    border-radius: 25px;
    width: 150px;
    text-align: center;
    color: rgb(58, 59, 59);
}

.tab-overflow{
    position: absolute;
    /* transform: translateX(-50%); */
    display: flex;
    flex-direction: row;
    height: calc(100% - 20px);
    transform: translate(0);
    left: -10px;
    transition: all 0.3s;
    padding: 10px;
    gap: 10px;
    /* gap: 2; */
}

.tab-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    padding: 0 10px;


}

.tab-indicator{
    position: absolute;
    background-color: orange;
    border-radius: 5px;
    width: 80px;
    height: 6px;
    top: 97%;
    transition: all 0.3s;
}







.review-modal {
    width: 1312px;
    border-radius: 20px;
    background-color: white;
    z-index: 111;
    overflow: auto;
    padding: 0 20px;
    /* position: fixed; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
}


.review {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    /* border: 1px solid black; */
    /* border: 1px solid; */
    /* border-bottom: #9E9E9E; */
    /* border-top: #9E9E9E; */
    /* border-radius: 5px; */
    /* height: 200px; */
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #bfbfbf;
    /* opacity: 0; */
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}


.review.show {
    opacity: 1;
    transform: translateY(0);
}

.loader-container{
    width: 100px;
    height: 100px;
    position: relative;
}

.loader-outer{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 6px solid;
    border-color: orange transparent orange transparent;
    border-radius: 50%;
    animation: spin-outer 1s ease infinite;
}

@keyframes spin-outer {
    to{
      transform:  rotate(360deg);
    }
}



.loader-inner{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border: 6px solid;
    border-color: orange transparent orange transparent;
    border-radius: 50%;
    animation: spin-inner 1s ease infinite;
}

@keyframes spin-inner {
    to{
        transform:  rotate(-360deg);
    }
}


.close-review-container{
    position: sticky;
    top: 0;
    background-color:white;
    box-shadow: 0 2px 5px -2px #383838;
}

.review-user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #333333;
}

.review-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #333333;
}

.review-user-avatar > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 100%;
}

.review-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
}

.review-rating > img{
    height: auto;
    width: 100%;
    object-fit: contain;
}

.review-img-container{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s;

}

.review-img-container:hover{
    filter: opacity(1.2);
}



.empty-rating-star{
    color: #333333;
}


.review-image-set{
    display: flex;
    width: fit-content;
    flex-direction: row;
    gap: 10px;
    /*grid-template-columns: repeat(2, 1fr);*/
}

.review-img{
    height: auto;
    width: 100%;
    object-fit: contain;
}

.user-reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.sorting-container {
    position: relative;
    /* width: 200px; */
    padding: 5px;
    border: 1px solid #cbc9c5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
}

.sorting-parameters {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    left: 0;
    width: 200px;
    border: 1px solid #cbc9c5;
    background: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.sorting-parameters.show{

    /*animation: fade-in 300ms;*/
    visibility: visible;
    transform: translateY(0);
}



.sorting-parameters > a {
    text-decoration: none;
    color: #333333;
}

.sorting-parameters > a:hover {
    color: orange;
}

.sorting-container > span {
    transition: all 0.2s linear;
    transform: rotateZ(90deg);
    /*transform: rotateZ(90deg);*/
}

.sorting-container > span.active{
    transform: rotateZ(270deg);
}


.add-to-favorites-btn {
    background: none;
    border: none;
    width: fit-content;

}

.add-to-favorites-btn:hover {
    color: red;
}

.add-to-cart-btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #1fd133;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0 0 4px 1px #1fd133;
    transition: all 0.3s;
}

.add-to-cart-btn:hover {
    opacity: 0.7;
}

.added {
    border: 1px solid #ff4f4f;
    background: white;
    color: #ff4f4f;
    box-shadow: none;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 60%;
    align-self: center;
    height: 300px;
    box-shadow: 0px 2px 18px 3px rgba(181,181,181,1);
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}

.main-actions{
    display: flex;
    flex-direction: column;
}

.product-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.notify-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-notify-btn{
    border: 1px solid transparent;
    background: none;
    border-radius: 50%;
    transition: all 0.3s;
    padding: 4px;
    cursor: pointer;
    user-select: none;
}
.close-notify-btn:hover{
    background-color: #e1e1e1;
}

.close-notify-btn>span{
    display: block;
}
