*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

html{
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;

  /* overflow: overlay; */
}




.main-footer{
  width: 100%;
  background-color:#333;
  margin-top: auto;
  height: 6vh;
  min-height: 60px;
  flex: 0 1 auto;
}

.main-content{
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
  width: 100%;
  flex: 1 1 auto;
  background-color: rgb(246 248 250);
  /* to make scrollbar only for product section not for all page */
  /* overflow-y: auto;
   */
}







@media (max-width:480px) {
  body{
    font-size: 10px;
  }
}


@media (max-width:480px) {
  .product-card {
    width: 100%;
    border-bottom: 1px solid #9E9E9E;
    border-top: 1px solid #9E9E9E;
  }
}

  @media (max-width:480px){
    .product-card:hover{
      box-shadow: none;
    }
  }

@media (min-width:481px) {
  .products-list{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }
  }

.products-list{
  width: 100%;
  padding: 0;
  gap: 0;
}



.product-card{
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  background-color: white;
  /*border: 1px solid black;*/
  /*border: 1px solid;*/
  /*border-bottom: #9E9E9E;*/
  /*border-top: #9E9E9E;*/
  /*border-radius: 5px;*/
  height: 200px;
  width: 100%;
 

}

.product-card-content{
  display: flex;
  flex-direction: column;

}

/*.product-details-btn{*/

/*  width: min-content;*/
/*  */
/*  padding: 10px 20px;*/
/*  border-radius: 5px;*/
/*  background-color: #333;*/
/*  text-decoration: none;*/
/*  color: white;*/
/*  !* to space last item from other content *!*/
/*  margin-top:  auto;*/
/*  text-align: center;*/

/*  !* to push btn to right *!*/
/*  margin-left: auto;*/
/* */
/*}*/

.product-title > a {
  text-decoration: none;
  color: #333333;


}

.product-link:hover > h3{
  color: orange;
  cursor: context-menu;
}



.product-img-container{
  min-width: 150px;
  max-width: 150px;
  max-height:150px;
}

.product-img-container > img{
 width: 100%;
}


.product-card:hover{
  box-shadow: 0 0 20px 5px #BFBFBF;
}

.pagination > ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.pagination-item {
  padding: 10px;
  height:30px;
  width: 30px;
  background-color: #333;
  border-radius: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.pagination-item-active {
  padding: 10px;
  height:30px;
  width: 30px;
  background-color: darkred;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.pagination > ul > li > a {
 text-decoration: none;
 color: white;
}