<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css"  th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/fragments.css}">


    <title>Admin</title>
</head>

<body>

<header th:replace="~{fragments/fragments.html :: header}">
</header>
<nav th:replace="~{fragments/fragments.html :: secondary-nav}"></nav>
<nav th:replace="~{fragments/fragments.html :: mobile-menu}"></nav>

<section th:replace="~{fragments/fragments.html :: mobile-search-modal}"></section>

<nav th:replace="~{fragments/fragments.html :: mobile-bottom-menu}"></nav>


<main class="main-content">
    <section>
        <div class="activity">Products </div>
        <div class="activity">Orders </div>

    </section>
</main>




<footer class="main-footer">

</footer>

<script type="text/javascript" th:src="@{/js/hamburger.js}"></script>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>

</html>