<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">


    <title>Cart</title>
</head>

<body>

<header th:replace="~{fragments/fragments.html :: header}">
</header>
<nav th:replace="~{fragments/fragments.html :: secondary-nav}"></nav>
<nav th:replace="~{fragments/fragments.html :: mobile-menu}"></nav>
<nav th:replace="~{fragments/fragments.html :: mobile-bottom-menu}"></nav>
<div th:replace="~{fragments/fragments.html :: overlay-blurred}"></div>


<main class="main-content">

    <section class="cart-container">

        <section class="cart-items-container">
        </section>

        <section class="order-container">
            <div class="order-details">
                <h2>Your order</h2>
                <div class="order-pricing">
                    <div class="pricing-info">
                        <h4>Products cost (3): 34.99$</h4>
                        <h4>Bonuses: 45.17</h4>
                    </div>

                    <div class="total-pricing">
                        <h4>Total: 34.99$</h4>
                    </div>
                    <button><a href="/order">Go to checkout</a></button>
                </div>
            </div>
        </section>

    </section>

</main>


<footer class="main-footer">

</footer>

<script type="text/javascript" th:src="@{/js/hamburger.js}"></script>
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
</body>

</html>