<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Main</title>
</head>

<body>

  <header class="main-header">

    <nav class="header-nav">

      <div class="header-logo">
        <h1>E-Commerce</h1>
      </div>

      <div class="header-search-container">
        <form class="header-search-form" method="post" action="">
          <select>
            <option selected value="">Electronics</option>
          </select>
          <input type="text" placeholder="Search here...">
          <button type="submit"><span>Search</span></button>
        </form>
      </div>

      <div class="header-navlinks">
        <a href="">Account</a>
        <a href="">Sign In</a>
        <a href="">Cart</a>
      </div>

    </nav>


    <nav class="secondary-nav">

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>
    </nav>
  </header>




  <main class="main-content">
    <section>


    </section>
  </main>




  <footer class="main-footer">

  </footer>

</body>

</html>