<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css"  th:href="@{/css/index.css}">
  <title>Main</title>
</head>

<body>

  <header class="main-header">

    <nav class="header-nav">

      <div class="header-logo">
        <h1>E-Commerce</h1>
      </div>

      <div class="header-search-container">
        <form class="header-search-form" method="post" action="">
          <select>
            <option selected value="">All</option>
            <option th:each="category : ${categories}" value="" th:text="${category.categoryName}"></option>
          </select>
          <input type="text" placeholder="Search here...">
          <button type="submit"><span>Search</span></button>
        </form>
      </div>

      <div class="header-navlinks">
        <a href="">Account</a>
        <a href="">Sign In</a>
        <a href="">Cart</a>
      </div>

    </nav>


    <nav class="secondary-nav">

      <div class="dropdown" th:each="category : ${categories}">
        <div class="dropdown-description" th:text="${category.categoryName}"></div>
        <div class="dropdown-content">
          <div class="dropdown-subcategory" th:each="subcategory : ${category.subcategories}">
            <a th:href="@{|http://localhost:8080/main/${#strings.toLowerCase(category.categoryName)}/${#strings.toLowerCase(subcategory.subcategoryName)}|}"  th:text="${subcategory.subcategoryName}"/>
          </div>

        </div>
      </div>


    </nav>
  </header>




  <main class="main-content">
    <section>

<!--      <h1 th:text="${categories}"></h1>-->

    </section>
  </main>




  <footer class="main-footer">

  </footer>

</body>

</html>