<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="products.css">
  <title>Main</title>
</head>

<body>

  <header class="main-header">

    <nav class="header-nav">

      <div class="header-logo">
        <h1>E-Commerce</h1>
      </div>

      <div class="header-search-container">
        <form class="header-search-form" method="post" action="">
          <select>
            <option selected value="">Electronics</option>
          </select>
          <input type="text" placeholder="Search here...">
          <button type="submit"><span>Search</span></button>
        </form>
      </div>

      <div class="header-navlinks">
        <a href="">Account</a>
        <a href="">Sign In</a>
        <a href="">Cart</a>
      </div>

    </nav>


    <nav class="secondary-nav">

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>
    </nav>
  </header>





  <main class="main-content">
    <section class="products-list">

      <div class="product-card">
        <div class="product-img-container">
          <img class="product-card-img" src="no-img.png">
        </div>
        <div class="product-card-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquam voluptatum numquam magni eos aliquid quia rerum quidem eligendi? Doloribus?</p>
          <a href="" class="product-details-btn">Details</a>
        </div>
        
      </div>

      <div class="product-card">
        <div class="product-img-container">
          <img class="product-card-img" src="no-img.png">
        </div>
        <div class="product-card-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquam voluptatum numquam magni eos aliquid quia rerum quidem eligendi? Doloribus?</p>
          <a href="" class="product-details-btn">Details</a>
        </div>
        
      </div>


      <div class="product-card">
        <div class="product-img-container">
          <img class="product-card-img" src="no-img.png">
        </div>
        <div class="product-card-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquam voluptatum numquam magni eos aliquid quia rerum quidem eligendi? Doloribus?</p>
          <a href="" class="product-details-btn">Details</a>
        </div>
        
      </div>


      <div class="product-card">
        <div class="product-img-container">
          <img class="product-card-img" src="no-img.png">
        </div>
        <div class="product-card-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquam voluptatum numquam magni eos aliquid quia rerum quidem eligendi? Doloribus?</p>
          <a href="" class="product-details-btn">Details</a>
        </div>
        
      </div>


      <div class="product-card">
        <div class="product-img-container">
          <img class="product-card-img" src="no-img.png">
        </div>
        <div class="product-card-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquam voluptatum numquam magni eos aliquid quia rerum quidem eligendi? Doloribus?</p>
          <a href="" class="product-details-btn">Details</a>
        </div>
        
      </div>

      <nav class="pagination">
        <ul>
          <li><a href="">&lt;</a></li>
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li><a href="">...</a></li>
          <li><a href="">&gt;</a></li>
        </ul>
      </nav>
    </section>
  </main>




  <footer class="main-footer">

  </footer>

</body>

</html>