<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" type="text/css" th:href="@{/css/product-view.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments.css}">

    <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>-->


    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

    <script type="text/javascript" defer th:src="@{/js/hamburger.js}"></script>
    <title th:text="${product.name}"></title>
</head>

<body>

<header th:replace="~{fragments/fragments.html :: header}">
</header>
<nav th:replace="~{fragments/fragments.html :: secondary-nav}"></nav>
<nav th:replace="~{fragments/fragments.html :: mobile-menu}"></nav>
<nav th:replace="~{fragments/fragments.html :: mobile-bottom-menu}"></nav>
<div th:replace="~{fragments/fragments.html::notify-modal}"></div>
<div th:replace="~{fragments/fragments.html::review-modal}"></div>
<div th:replace="~{fragments/fragments.html::login-modal}"></div>
<!--<section th:replace="fragments/fragments.html :: review-modal"></section>-->
<div th:replace="~{fragments/fragments.html :: overlay-blurred}"></div>

<main class="main-content">
    <section class="product-view">


        <section class="product-header">
            <h2 th:text="${product.name}"></h2>
        </section>
        <div class="product-info">

            <section class="product-images">

                <section class="splide">
                    <div class="splide__arrows">
                        <button style="background: transparent" class="splide__arrow splide__arrow--prev">
                            <img style=" filter: invert(64%) sepia(49%) saturate(2460%) hue-rotate(1deg) brightness(105%) contrast(104%); object-fit: contain; height: auto; width: 100%" th:src="@{|/images/arrow_back.svg|}">
                        </button>
                        <button style="background: transparent" class="splide__arrow splide__arrow--next">
                            <img  style=" filter: invert(64%) sepia(49%) saturate(2460%) hue-rotate(1deg) brightness(105%) contrast(104%); object-fit: contain; height: auto; width: 100%" th:src="@{|/images/arrow_forward.svg|}">
                        </button>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="img-container" style="width: 100%; height: 100%;">
                                    <img style="object-fit: contain; height: auto; width: 100%" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="img-container" style="width: 100%; height: 100%;">
                                    <img style="object-fit: contain; height: auto; width: 100%" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="img-container" style="width: 100%; height: 100%;">
                                    <img style="object-fit: contain; height: auto; width: 100%" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="img-container" style="width: 100%; height: 100%;">
                                    <img style="object-fit: contain; height: auto; width: 100%" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="img-container" style="width: 100%; height: 100%;">
                                    <img style="object-fit: contain; height: auto; width: 100%" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="img-container" style="width: 100%; height: 100%;">
                                    <img style="object-fit: contain; height: auto; width: 100%" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="img-container" style="width: 100%; height: 100%;">
                                    <img style="object-fit: contain; height: auto; width: 100%" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </div>
                            </li>
                        </ul>
                    </div>
<!--                    set img class to thumbnail and copy paste props-->

                </section>
                <section class="thumbnails">
                    <div id="thumbnail-slider" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img style="max-width: 100%;max-height: 100%;display: block;margin: 0 auto;" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </li>
                                <li class="splide__slide">
                                    <img style="max-width: 100%;max-height: 100%;display: block;margin: 0 auto;" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </li>
                                <li class="splide__slide">
                                    <img style="max-width: 100%;max-height: 100%;display: block;margin: 0 auto;" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </li>
                                <li class="splide__slide">
                                    <img style="max-width: 100%;max-height: 100%;display: block;margin: 0 auto;" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </li>
                                <li class="splide__slide">
                                    <img style="max-width: 100%;max-height: 100%;display: block;margin: 0 auto;" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </li>
                                <li class="splide__slide">
                                    <img style="max-width: 100%;max-height: 100%;display: block;margin: 0 auto;" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </li>
                                <li class="splide__slide">
                                    <img style="max-width: 100%;max-height: 100%;display: block;margin: 0 auto;" th:src="@{|/images/${product.mainThumbnailPath}|}">
                                </li>

                            </ul>
                        </div>
                    </div>
                </section>

            </section>


            <div class="product-description">

                <div class="description-container">
                    <h3>Description:</h3>
                    <p th:text="${product.fullDescription}"></p>
                </div>

<!--                <img th:src="@{/images/reviews/2/admin_01.png}"/>-->

                <div th:with="math=${T(java.lang.Math)},whole=${math.floor(product.rating)}, remainder=${product.rating - whole}"
                     style="display:flex; flex-direction:row;" class="product-rating">
                    <!--                        th:with="fullRating=${(int)product.rating/}"-->
                    <!--                        <h3 th:text="${product.rating + ' ' +whole + ' ' + remainder}"></h3>-->
                    <div style=" width: 20px; height: 20px;" th:each="i : ${#numbers.sequence(1,5)}">

                        <img th:if="${i<=whole}"
                             style=" display:block; filter: invert(80%) sepia(47%) saturate(2884%) hue-rotate(0deg) brightness(109%) contrast(107%); height: auto; width: 100%"
                             src="/ui/rating/star_full.svg"/>
                        <img th:if="${i - whole ==1 && remainder>0 }"
                             style=" display:block; filter: invert(80%) sepia(47%) saturate(2884%) hue-rotate(0deg) brightness(109%) contrast(107%); height: auto; width: 100%"
                             src="/ui/rating/star_half.svg"/>
                        <img th:if="${(i - whole ==1) && !(remainder>0) }"
                             style=" display:block; filter: invert(80%) sepia(47%) saturate(2884%) hue-rotate(0deg) brightness(109%) contrast(107%); height: auto; width: 100%"
                             src="/ui/rating/star_empty.svg"/>
                        <img th:if="${i - whole>1}"
                             style=" display:block; filter: invert(80%) sepia(47%) saturate(2884%) hue-rotate(0deg) brightness(109%) contrast(107%); height: auto; width: 100%"
                             src="/ui/rating/star_empty.svg"/>
                        <!--                            <img style=" display:block; filter: invert(80%) sepia(47%) saturate(2884%) hue-rotate(0deg) brightness(109%) contrast(107%); height: auto; width: 100%" src="/ui/rating/star_half.svg"/>-->

                    </div>

                    <button class="rating-btn"><span
                            th:text="${reviewCount>0 ? reviewCount + ' reviews' : 'no reviews, be first!'}"></span>
                    </button>

                    <button sec:authorize="isAuthenticated()" data-auth="true"
                            class="open-rating-btn">Leave Review</button>

                    <button sec:authorize="!isAuthenticated()" data-auth="false"
                            class="open-rating-btn">Leave Review</button>
                </div>

                <div class="product-actions">
                    <div class="main-actions">
                        <h2 th:class="${product.discount} >0 ? 'price discount' : 'price'"
                            th:text="${#numbers.formatDecimal(product.price,1,2)} + '$'"></h2>
                        <button th:attr="data-id=${product.id},data-quantity=0" class="add-to-cart-btn">Add to cart
                        </button>
                    </div>
                    <div class="secondary-actions">
                        <button th:attr="data-id=${product.id}" class="add-to-favorites-btn"><span
                                class="material-symbols-outlined">favorite</span><span>Favorites</span></button>
                        <button th:attr="data-id=${product.id}" class="add-to-comparison-btn"><span
                                class="material-symbols-outlined">bar_chart</span><span>Compare</span></button>
                        <button th:attr="data-id=${product.id}" class="open-notify-btn"><span
                                class="material-symbols-outlined">notifications</span><span>Notify</span>
                        </button>
                    </div>
                </div>
            </div>


        </div>

        <div class="tabs">
            <div class="tab-head">
                <div class="tab-nav">Characteristics</div>
                <div id="reviews-btn" class="tab-nav">Reviews</div>
                <div class="tab-indicator"></div>
            </div>
            <div class="tab-body">
                <div class="tab-overflow">


                    <div data-id="0" class="tab product-properties">
                        <h4>Characteristics:</h4>
                        <table>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>

                            <tr th:each="productAttribute : ${product.productAttributes}">
                                <td th:text="${productAttribute.key}"></td>
                                <td th:text="${productAttribute.value}"></td>
                            </tr>

                        </table>
                    </div>


                    <div data-id="1" class="tab reviews">
                        <!--                            <div class="close-review-container">-->
                        <!--                                <span id="modal-close-btn" class="material-symbols-outlined">close</span>-->
                        <!--                            </div>-->
                        <div class="user-reviews">
                            <div class="sorting-container">
                                <span class="material-symbols-outlined">sync_alt</span>By Relevance
                                <div class="sorting-parameters">
                                    <a th:with="
                        query=${query==''} ? ''  : ${'&q=' +query},  parameters=${parameters==''} ? ''  : ${'&' + parameters} "
                                       th:href="${contextPath + '?' + 'page=' + currentPage + query +  '&sortBy=relevance' + parameters}">By
                                        Relevance</a>
                                    <a
                                       th:href="${contextPath + '?' + 'page=' + currentPage + query + '&sortBy=price&order=asc' + parameters}">By
                                        Price (low-high)</a>
                                    <a
                                       th:href="${contextPath + '?' + 'page=' + currentPage + query + '&sortBy=price&order=desc' + parameters}">By
                                        Price (high-low)</a>
                                    <a
                                       th:href="${contextPath + '?' + 'page=' + currentPage + query + '&sortBy=rating' + parameters}">By
                                        Rating</a>
                                    <a
                                       th:href="${contextPath + '?' + 'page=' + currentPage + query + '&sortBy=arrivals' + parameters}">New
                                        Arrivals</a>
                                </div>
                            </div>


                            <button class="expand-reviews-btn">More</button>
                        </div>

                    </div>


                </div>
            </div>

        </div>


        <div class="similar-products-container">
            <div>You May Also Like:</div>

            <div class="similar-product-list">

                <div class="similar-product">
                    <div class="similar-product-img">
                        <img src="no-img.png">
                    </div>
                    <div class="similar-product-info">
                        <h3>Product</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque.</p>
                    </div>
                </div>

                <div class="similar-product">
                    <div class="similar-product-img">
                        <img src="no-img.png">
                    </div>
                    <div class="similar-product-info">
                        <h3>Product</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque.</p>
                    </div>
                </div>

                <div class="similar-product">
                    <div class="similar-product-img">
                        <img src="no-img.png">
                    </div>
                    <div class="similar-product-info">
                        <h3>Product</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque.</p>
                    </div>
                </div>

                <div class="similar-product">
                    <div class="similar-product-img">
                        <img src="no-img.png">
                    </div>
                    <div class="similar-product-info">
                        <h3>Product</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque.</p>
                    </div>
                </div>

            </div>


        </div>


    </section>
</main>


<footer class="main-footer">

</footer>

<script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
<script type="text/javascript" th:src="@{/js/tabs.js}"></script>
<script type="text/javascript" th:src="@{/js/reviews.js}"></script>
<script type="text/javascript" th:src="@{/js/sorting.js}"></script>
<script type="text/javascript" th:src="@{/js/notify-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/rate-modal.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>

<script>
    const thumbnails = new Splide('#thumbnail-slider', {
        fixedWidth: 80,
        fixedHeight: 80,
        // gap: 10,
        rewind: true,
        pagination: false,
        // gap: 5,
        center: true,
        perPage: 4,
        arrows: false,
        contain: true,
        isNavigation: true,
        breakpoints: {
            600: {
                fixedWidth: 60,
                fixedHeight: 60,
            },
        },
    })
    const main = new Splide('.splide',{
        pagination: false,
        center: true,
        contain: true,
        classes: {
            // arrows: 'splide__arrows your-class-arrows',
            // arrow : 'splide__arrow your-class-arrow',
            prev  : 'splide__arrow--prev prev',
            next  : 'splide__arrow--next next',
        }
    });
    // document.addEventListener('DOMContentLoaded', function () {
    //
    //
    // });

    main.sync(thumbnails);
    main.mount();
    thumbnails.mount();
</script>
</body>

</html>