<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css"  th:href="@{/css/products.css}">
  <title>Main</title>
</head>

<body>

  <header class="main-header">

    <nav class="header-nav">

      <div class="header-logo">
        <h1>E-Commerce</h1>
      </div>

      <div class="header-search-container">
        <form class="header-search-form" method="post" action="">
          <select>
            <option selected value="">Electronics</option>
          </select>
          <input type="text" placeholder="Search here...">
          <button type="submit"><span>Search</span></button>
        </form>
      </div>

      <div class="header-navlinks">
        <a href="">Account</a>
        <a href="">Sign In</a>
        <a href="">Cart</a>
      </div>

    </nav>


    <nav class="secondary-nav">

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-description">Electronics</div>
        <div class="dropdown-content"> <a href="">Account</a>
          <a href="">Sign In</a>
          <a href="">Cart</a>
        </div>
      </div>
    </nav>
  </header>





  <main class="main-content">
    <section class="products-list">

      <div class="product-card" th:each="product : ${products}">
        <div class="product-img-container">
          <img class="product-card-img" th:src="@{|/images/${product.mainThumbnailPath}|}">
        </div>
        <div class="product-card-content">
          <h3 th:text="${product.name}"/>
          <p th:text="${product.shortDescription}"/>
          <h3 th:text="${product.price}+' $'"/>
          <a class="product-details-btn" th:href="@{|http://localhost:8080/main/${#strings.toLowerCase(product.category.categoryName)}/${#strings.toLowerCase(product.subcategory.subcategoryName)}/${product.id}|}"  th:text="Description"/>

        </div>
        
      </div>


      <nav class="pagination" th:if="${totalPages>1}">
        <ul>
          <li th:each="i : ${#numbers.sequence(1,totalPages)}"><a th:href="@{|?page=${i}|}" th:text="${i}"></a></li>
<!--          <li><a href="">&lt;</a></li>-->
<!--          <li><a href="">1</a></li>-->
<!--          <li><a href="">2</a></li>-->
<!--          <li><a href="">3</a></li>-->
<!--          <li><a href="">4</a></li>-->
<!--          <li><a href="">5</a></li>-->
<!--          <li><a href="">...</a></li>-->
<!--          <li><a href="">&gt;</a></li>-->
        </ul>
      </nav>
    </section>
  </main>




  <footer class="main-footer">

  </footer>

</body>

</html>